//字体大小
$font-size-small: 0.75rem !default; //12px
$font-size-default: 0.875rem !default; //14px
$font-size-medium: 1rem !default; //16px
$font-size-large: 1.125rem !default; //18px
$font-size-x-large: 1.5rem !default; //24px
$font-size-x-larger: 2.25rem !default; //36px
$font-size-x-largest: 3rem !default; //48px

$theme-color: #07223b !default; //主题色
$theme-white: #ffffff !default; //白色
$theme-green: #45c9eb !default; //绿色
$theme-green: #1ad4cd !default; //绿色
$theme-yellow: #ce7617 !default; //黄色
$theme-red: #d40707 !default; //黄色
$theme-blue: #022d67 !default; //蓝色
$theme-blue1: #82AEFF !default; //蓝色
$theme-color-hover: #2277c2 !default; //主题色hover状态
$theme-color-active: #0f72c9 !default; //主题色active\focus状态
$theme-color-disabled: #d5dadf !default; //禁用色
$theme-color-original: #409EFF !default; // 原始蓝

$theme-font: #82aeff;
$theme-select: #00172D;
$theme-button: #2193FE;
$theme-btn: #445fde;
$theme-btn1: #234463;
$theme-btn1-hover:#577c9e;
$theme-bar: #0b1251;
$theme-legend1: #d5d5d5;
$theme-legend2: #2193fe;
$theme-legend3: #1ad4cd;
$theme-legend4: $theme-yellow;
$theme-legend5: #5358FF;
$theme-legend-gray: #777777;
$theme-rad-border: #fb223d;
$theme-background-left: linear-gradient(90deg, rgba(0,0,0,.8) 0%, rgba(0,0,0,.8) 50%, rgba(0,0,0,.5) 100%) !default; //背景渐变
$theme-background-bottom: linear-gradient(0, rgba(0,0,0,.8) 0%, rgba(0,0,0,.8) 50%, rgba(0,0,0,.5) 100%) !default; //背景渐变
$theme-background-login: linear-gradient(180deg,rgba(33, 59, 184, 1) 0%, rgba(22, 221, 252, 1) 51%,rgba(33, 59, 184, 1) 100%);
$theme-server-bg: #232c38;

$theme-font1: #afbcd4;
$theme-font2: #82aeff;
$theme-font3: #4f5257;
$theme-background-left1: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .8) 50%, rgba(0, 0, 0, .5) 100%) !default; //背景渐变
$theme-background-left2: linear-gradient(90deg, rgba(11, 25, 63, 1) 0%, rgba(11, 25, 63, 0.8) 50%, rgba(33, 48, 124, 0.5) 100%) !default; //背景渐变
$theme-background-left3: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.8) 100%) !default; //背景渐变
$theme-background-circle1: radial-gradient(circle, rgba(0,23,45, 1) 0%, rgba(4,20,36, 1) 73%, rgba(0,23,45, 1) 100%) !default; //背景渐变
$theme-background-circle2: radial-gradient(circle, rgba(11, 25, 63, 1) 0%, rgba(1, 14, 49, 1) 73%, rgba(11, 25, 63, 1) 100%) !default; //背景渐变
$theme-background-circle3: radial-gradient(circle, rgb(206, 211, 224) 0%, rgb(224, 224, 224) 50%, rgb(206, 211, 224) 100%) !default; //背景渐变

@mixin change-font-color($color) {
  color: $color;
  [change-font-color="color1"] & {
    color: $theme-font1;
  }
  [change-font-color="color2"] & {
    color: $theme-font2;
  }
  [change-font-color="color3"] & {
    color: $theme-font3;
  }
}

@mixin change-background-color($color) {
  background: $color;
  [change-background-color="left1"] & {
    background: $theme-background-left1;
  }
  [change-background-color="left2"] & {
    background: $theme-background-left2;
  }
  [change-background-color="left3"] & {
    background: $theme-background-left3;
  }
}

@mixin change-background-circle($color) {
  background: $color;
  [change-background-circle="color1"] & {
    background: $theme-background-circle1;
  }
  [change-background-circle="color2"] & {
    background: $theme-background-circle2;
  }
  [change-background-circle="color3"] & {
    background: $theme-background-circle3;
  }
}

.ant-layout {
  @include change-font-color($theme-font1);
  @include change-background-circle($theme-background-circle1);
}

/***控件样式***/
.ant-btn {
  background: $theme-btn1;
  color: $theme-white;
  border: none;
  &:hover {
    background: $theme-btn1-hover;
    color: $theme-white;
  }
}
.ant-select {
  width: 100%;
  @include change-font-color($theme-font1);
  .ant-select-selection {
    background: $theme-select;
    border-color: $theme-button;
  }
  .ant-select-arrow {
    color: $theme-font;
  }
}
.ant-select-dropdown {
  background-color: $theme-select;
  .ant-select-dropdown-menu-item {
    @include change-font-color($theme-font1);
    &-selected {
      background-color: rgb(38, 59, 126);
    }
    &:hover:not(ant-select-dropdown-menu-item-disabled), &:active:not(ant-select-dropdown-menu-item-disabled) {
      background-color: $theme-button;
    }
  }
  .ant-select-tree li ul {
    padding: 0 0 0 24px;
  }
  .operation-icon {
    float: right;
    padding-top: 5px;
    margin-right: -24px !important;
  }
}
.ant-input,
.ant-input[disabled],
.has-error .ant-input,
.has-error .ant-input:hover {
  @include change-font-color($theme-font1);
  border-color: $theme-button;
  background-color: $theme-select;
  font-size: $font-size-small;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ant-menu-submenu-popup,
.ant-menu-submenu > .ant-menu,
.ant-dropdown-menu,
.ant-dropdown-menu-item:hover {
  background: #0c2058;
}
.ant-menu-submenu > .ant-menu > li ,
.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title,
.ant-input-affix-wrapper .ant-input-prefix,
.ant-input-affix-wrapper .ant-input-suffix,
.ant-calendar-picker > .ant-calendar-picker-icon {
  @include change-font-color($theme-font1);
}
// 提示效果
.ant-tooltip {
  .ant-tooltip-inner {
    font-size: $font-size-small;
    color: #86b4dc;
  }
}
// 折叠面板
.collapse-box {
  .ant-collapse {
    color: inherit;
    font-size: $font-size-small;
    line-height: 1.5rem;
    background-color: transparent;
    .ant-collapse-content {
      color: inherit;
      background-color: transparent;
      .ant-collapse-content-box {
        padding: 0;
        height: 100%;
      }
    }
    .ant-collapse-content-active {
      height: 50vh;
    }
    .ant-collapse-item {
      border-bottom: none;
    }
    .ant-collapse-item > .ant-collapse-header {
      color: inherit;
      padding: .3rem;
      padding-left: 40px;
      background-color: rgba(7, 34, 59, 0.6);
    }
  }
}
// 弹框样式
.ant-modal-root {
  .ant-modal-content {
    background-color: #00152d;
    border: 1px solid $theme-button;
    .ant-modal-close {
      color: $theme-font;
      // height: 40px;
      // width: 40px;
      // line-height: 40px;
    }
    .ant-modal-header {
      padding: 1rem;
      background: $theme-color;
      border-bottom: none;
      .ant-modal-title {
        color: $theme-font;
      }
    }
    .ant-modal-body {
      padding: 0;
    }
    .ant-modal-confirm-title, .ant-modal-confirm-content {
      color: $theme-font;
    }
    .ant-modal-confirm-body-wrapper {
      padding: 1.5rem 2rem;
    }
  }
}
// 表格样式
.ant-table {
  color: inherit;
  font-size: $font-size-small;
  @include change-font-color($theme-font1);
  .ant-table-row-spaced {
    display: none;
  }
  .ant-table-row-expand-icon {
    background: none;
    border: 1px solid $theme-button;
  }
  .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    max-width: 12rem;
    padding: .5rem;
    border-bottom: 1px solid $theme-blue;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
  }
  .ant-table-thead > tr:hover.ant-table-row-selected > td,
  .ant-table-tbody > tr:hover.ant-table-row-selected > td {
    background: #11468b;
  }
  .ant-table-tbody > tr.ant-table-row-selected td {
    background: #11468b;
  }
  .ant-table-thead > tr > th {
    background: $theme-blue;
    color: inherit;
  }
  .ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td,
  .ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td,
  .ant-table-thead > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td,
  .ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
    background-color: rgba(2, 45, 103, .6);
  }
  .ant-table-fixed-header > .ant-table-content > .ant-table-scroll > .ant-table-body,
  .ant-table-fixed-header .ant-table-scroll .ant-table-header {
    background: #00172D;
  }
  .ant-table-placeholder {
    background: #00172D;
    border: none;
  }
}

// 加载框样式
.ant-spin-nested-loading {
  width: 100%;
  height: 100%;
  .ant-spin-container {
    width: 100%;
    height: 100%;
  }
}
// 分页样式
.ant-pagination {
  float: right;
  color: $theme-font;
  background-color: transparent;
  .ant-pagination-item-active {
    background: transparent;
  }
  .ant-pagination-item a,
  .ant-pagination-prev a,
  .ant-pagination-next a,
  .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis,
  .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis {
    color: $theme-font;
  }
}
// form表单
.ant-form {
  .ant-form-item-required,
  .ant-form-item-label > label {
    color: $theme-font;
  }
}
// 多选框 单选框 按钮组样式修改
.ant-checkbox-wrapper,
.ant-radio-wrapper {
  color: $theme-white;
  font-size: $font-size-small !important;
}
.ant-radio-group {
  .ant-radio-button-wrapper {
    background: $theme-select;
    border-color: $theme-blue;
    @include change-font-color($theme-font1);
  }
  .ant-radio-button-wrapper:not(:first-child)::before{
    background-color: initial;
  }
  .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
    background: $theme-button;
    color: $theme-white;
    font-weight: 500;
    border-color: $theme-blue;
  }
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
    box-shadow: initial;
    color: $theme-white;
    background: $theme-button;
  }
}
// 树选择框
.ant-select-tree {
  @include change-font-color($theme-font1);
  li {
    .ant-select-tree-switcher.ant-select-tree-switcher-noop {
      width: 0;
    }
    .ant-select-tree-node-content-wrapper {
      @include change-font-color($theme-font1);
      &:hover {
       background-color: rgba(186, 231, 255, 0.1);
      }
    }
    .ant-select-tree-node-content-wrapper.ant-select-tree-node-selected {
      background-color: rgba(186, 231, 255, 0.2);
    }
  }
}
.ant-tabs {
  @include change-font-color($theme-font1);
}

// 布局样式
.wrap-sidebar {
  position: relative;
  box-sizing: border-box;
  &-left {
    flex: 1;
    transition: width ease 1s;
    overflow-y: auto;
    z-index: 5;
    position: relative;
  }
  &-right {
    flex: 1;
    z-index: 5;
    transition: width ease 1s;
    overflow-y: auto;
    position: relative;
  }
  &-center {
    flex: 3;
    height: 100%;
    margin: 0 1rem;
    padding: 0 3rem;
    box-sizing: border-box;
    overflow: hidden;
    .wrap-card {
      z-index: 5;
      position: relative;
      padding: 0 !important;
    }
    .wrap-card-left {
      width: 2rem;
      position: absolute;
      top: 1rem;
      left: 0;
    }
    .wrap-card-right {
      width: 2rem;
      position: absolute;
      top: 1rem;
      right: 0;
    }
  }
  &-bottom {
    flex: 3;
    margin: 0 1rem;
    box-sizing: border-box;
    .wrap-card {
      z-index: 5;
      width: 100%;
      position: absolute;
      bottom: 0;
    }
  }
  .wrap-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    // background: $theme-background-left;
    margin-bottom: 1rem;
    @include change-background-color($theme-background-left1);
    @for $i from 0 through 100 {
      &-#{$i} {
        width: 100%;
        height: calc(#{$i}% - 1rem);
      }
    }
    &-100 {
      background: $theme-background-bottom;
    }
    &-auto {
      overflow: hidden;
      background: $theme-select;
    }
    .list-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .list-title-name {
        display: inline-block;
        font-family: '方正综艺简体';
        padding: 0 1rem;
        font-size: 1.4rem;
        height: 3rem;
        line-height: 3rem;
        color: $theme-yellow;
      }
      >.anticon {
        font-size: 1.5rem;
        margin: .5rem;
      }
    }
  }
}
// 两列列表框
.table-list-box {
  // margin: .5rem 0;
  padding: 0 1rem;
  height: calc(100% - 4rem);
  ul {
    float: left;
    width: 49%;
    display: flex;
    flex-direction: column;
    height: 100%;
    li {
      display: flex;
      flex: 1;
      span {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #3d586f;
        border-left: 1px solid #3d586f;
        font-size: $font-size-small;
      }
      span:nth-of-type(2) {
        border-right: 1px solid #3d586f;
      }
    }
    li:last-child {
      span {
        border-bottom: 1px solid #3d586f;
      }
    }
  }
  ul:nth-of-type(2) {
    float: right;
  }
}
// 滚动列表
.css-listBox {
  height: 100%;
  overflow: hidden;
  li {
    border-bottom: 1px solid #3d586f;
    font-size: $font-size-small;
    display: flex;
    padding: 0 3px;
    line-height: 30px;
    span {
      display: inline-block;
    }
    span:first-child {
      width: calc(99% - 110px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: bottom;
    }
    span:last-child {
      width: 110px;
      text-align: center;
    }
  }  
}
// 右键菜单
.menu-list {
  display: none;
  position: absolute;
  width: 8rem;
  box-sizing: border-box;
  top: 0;
  left: 50%;
  z-index: 10;
  &-item {
    width: 8rem;
    border: 1px solid $theme-button;
    background: $theme-select;
    margin: .3rem 0;
    color: #d0d6f1;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    z-index: 12;
    font-size: $font-size-small;
    &:hover {
      background: $theme-button;
    }
  }
}
// 超出显示省略号
.over-ellipsis {
  text-align: left;
  p, span {
    width: 100%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
// 浮动下拉/弹框样式
.propModal {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  overflow: auto;
  outline: 0;
  .ant-tabs {
    color: $theme-font;
    .ant-tabs-bar {
      border: none;
      background: $theme-bar;
      padding: 0 10px;
      margin-bottom: 10px;
    }
    .ant-tabs-ink-bar {
      background-color: $theme-rad-border;
    }
    .ant-tabs-nav .ant-tabs-tab-active {
      color: $theme-font;
    }
    .ant-tabs-nav .ant-tabs-tab:hover {
      color: $theme-font;
    }
    .ant-tabs-nav .ant-tabs-tab {
      margin-right: 15px;
      padding: 10px 5px;
    }
  }
}

.bigMask {
  .ant-modal-body{
    position: relative;
  }
  &-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    .infoName,.infoTime{
      display: inline-block;
      margin:0 1rem;
    }
  }
  &-img {
    width: 100%;
    height: 45rem;
  }
}

// 常量样式
.c-pointer {
  cursor: pointer;
}

// 方框指标样式
.css-target-number {
  display: flex;
  li {
    flex: 1;
    background: $theme-select;
    float: left;
    margin: 0 3px;
    padding: 5px 0;
    border-radius: 4px;
    > span {
      display: block;
      text-align: center;
    }
    > span:first-child {
      font-size: 12px;
    }
    > span:last-child {
      color: $theme-green;
      font-size: 20px;
      font-weight: 400;
    }
  }
}




/**
****
****基本样式 by xs
****
****
**/
.inline-b {
  display: inline-block;
}
.padding-l-8 {
  padding-left: 8px;
}
.padding-r-8 {
  padding-right: 8px;
}
.padding-r-12 {
  padding-right: 12px;
}
.font-s-10 {
  font-size: 10px;
}
.label-color {
  color: #d5d5d5;
}
// 时间选择 图标颜色
.ant-calendar-picker {
  i {
    color: #afbcd4
  }
}
// input框 删除图标颜色
.ant-input-clear-icon {
  color: inherit;
  cursor: pointer;
  &:hover {
    color: inherit;
  }
}